/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
/*------------------
Common Properties
------------------- */
*{
    box-sizing: border-box !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
header, main{
    margin: 90px 120px 100px 120px;
}
/* --------------------
Header and Menu Items 
----------------------*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}
.menu-bar{
    display: none;
}
.menu-items{
    height: 36px;
    text-align: right;
}
.menu-items nav a{
    text-decoration: none;
    color: black;
    margin-right: 34px;
}
.fas.fa-search,.fas.fa-bars{
    width: 24px;
    height: 24px;
}
.fas.fa-shopping-cart{
    width: 36px;
    height: 36px;

}
#shopping-cart{
    margin-right: 0;
}
/* First Container */
.first-container{
    display: flex;
    align-items: center;
    margin-bottom: 70px;
}
.influencer-header{
    width: 100%;
}
.influencer-header .influencer-info h1{
    font-size: 52px;
    margin: 0;
}
.influencer-header .influencer-info p{
    color: #3A3A3A;
}
.button{
    display: flex;
    align-items: center;
    width: 196px;
    height: 44px;
    background-color: #E02C6D;
    border-radius: 41px;    
    padding: 10px 24px;
    font-size: 16px;
    font-weight: bold;
    margin: 0px 8px;  
}
.influencer-info a{
    text-decoration: none;
}
.influencer-info .button p{
    color: #FFFFFF;        
}
.fas.fa-arrow-right{
    margin-left: 10px;
}

/* Camera Section */
.influencer-image{
    position: relative;
    margin-left: 133px;
}
.influencer-image img{
    width: 475px;
    height: 475px;
}
#main-camera{
    position: absolute;
    left: 0;
    top: 30px;
    width: 440px;
    height: 414px;
}
#main-camera:hover{
    transition: 1s;
    transform: rotate(360deg);
}

/* Horizontal Line  */
.horizontal-line{
    height: 1px;
    width: 66em;
    margin: 25px auto;
    background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0.02, white),color-stop(0.5, gray), color-stop(0.98, white));
}

/* Logo Section  */
.logos{
    display: flex;
    align-items: center;    
    justify-content: center;
    column-gap: 60px;
}

/* Popular Collection */
.popular-collection{
    margin: 100px 30px;
}
.collection-heading{
    text-align: center;
    margin-top: 22px;
    margin-bottom: 30px;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 330px);
    justify-content: center;
    column-gap: 30px;
    row-gap: 30px;
}
.product{
    background-color: #FFFFFF;
    padding: 17px 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.product .rating .filled{
    color: #FB8200;
}
.products .product .product-info{
    color: #787885;
    font-size: 14px;
    margin: 0;
}
.products .product .price{
    font-size: 24px;
    margin: 0 6px;

}
.products .product h3{
    font-size: 28px;
    margin-top: 16px;
    margin-bottom: 0;
}
.products .product .rating{
    margin: 0;
}
.products .product img{
    width: 300px;
    height: 256px;
}
.popular-collection>p{
    text-align: center;
    margin-left: 930px;
}
.popular-collection p a{
    text-decoration: none;
    color: rgba(224, 44, 109, 0.87);
}
/* bonus section  */
.bonus .bonus-div{
    display: flex;
    justify-content: space-between;
    column-gap: 5%;
}
.bonus-icons a{
    text-decoration: none;
    color: black;
}
.icon-text{
    font-size: 18px;
}
.fas.bottom-icon{
    font-size: 40px;
}
.bonus-icons div{
    display: grid;
    grid-template-columns: 25% auto;
    align-items: center;
    justify-content: space-around;
}
/* footer section */
footer{
    position: absolute;
    left: 0;
    height: 239px;
    width: 100%;
    background-color: rgb(10, 10, 38);
    color: #FFFFFF;
    text-align: center;
}
.footer-heading{
    font-size: 24px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 0;
}
footer p{
    margin-top: 3px;
    margin-bottom: 0;
}
footer .icons{

    margin-top: 17px;
    margin-bottom: 50px;
}
.icons .fab{
    padding-top: 8px;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: #22213C;
    margin-right: 10px;
    margin-left: 6px;
}